/*CSS Header*/
header {
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: center;
    background-image: url(polka_dot_paper.png);
    width: 100%;

}

/*CSS Section Info*/
.etape1{
    display: flex;
}
.etape2{
    display: flex;
}
.etape3{
    display: flex;
}
/*CSS Section Form*/

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
/*//////////////*/

