
/*CSS Header*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background:#ffffff; 
    font-family: sans-serif;
}
header {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("cellphone-1082246_960_720.jpg"); 
    height:100vh;  
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: white;  
    background-position: center;
}

h1 {
    text-align: center;
    text-shadow:   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000,
     1px 1px 2px #141414,
     1px 1px 3px #141414,
     1px 1px 5px #141414,
     1px 1px 7px #141414,
     1px 1px 10px #141414,
     1px 1px 12px #141414,
     1px 1px 18px #141414;color:#fff;
     background-color:#EDFFF6;
}


.logo {
    flex: 1;
    object-fit: contain;
    mix-blend-mode: multiply;
    position: absolute;   
    
}



/*CSS Section Info*/
.etape1{
    display: flex;
}
.etape2{
    display: flex;
}
.etape3{
    display: flex;
}

/*CSS Section Form*/

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
/*//////////////*/

