
/*CSS Header*/
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background:#ffffff; 
    font-family: sans-serif;
}
header {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("phone.jpg"); 
    height:100vh;  
    background-repeat: no-repeat;
    background-size: cover; 
    background-color: white;  
    background-position: center;
    text-align: center;
   
}

h1 {
  align-items: center;
  margin-top: 600px;
  color: aliceblue;
  font-size: 50px;
  letter-spacing: 0,2em;
}



.logo {
    flex: 1;
    object-fit: contain;
    mix-blend-mode: multiply;
    position: absolute;   
    top: 50%;
    left: 50%;
    transform: translate(-210%,-140%);
}


/*CSS Section Info*/

.etape1{
    display: flex;
    flex-direction: column;
}
.etape2{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
}

.etape3{
    display: flex;
    flex-direction: column;
}

.text{
    display: flex;
    align-items: flex-end;
}

.imgTest{
    height: auto;
    width: 40%;
}

/*CSS Section Form*/

.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
/*//////////////*/

 /*Media Query*/

@media only screen and (max-width: 600px) {
    h2{
        display: flex;
        flex-direction: column;
    }
    .etape1{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .etape2{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .etape3{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
}